<header class="jumbotron">
  <div class="container">
    <p>街に希望の灯をともそう</p>
    <br>
    <br>
    <%= link_to '空き家を探す', search_search_path ,class: "btn btn-white btn-ghost"%>
    <%= link_to '住んでる街の診断', research_search_path,class: "btn btn-white btn-ghost" %>
  </div>
</header>
