.body {
  background-color:#f8b220;
}

.navbar {
  background-color:#ffffff;
  color:#ffffff;

}

.navbar-brand {
  background: url("candle_logo.png") no-repeat left center;
  background-size: contain;
  height: 80px;
  width: 500px;
  background-color:#ffffff;
}

.content {
  background-color:#f8b220;
}
