.body {
  background-color:#f8b220;
}


.navbar {
  margin-bottom: 0px !important;
  background-color:#ffffff;
  color:#ffffff;
  margin: 0px 0px 0px 0px;
  .container{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .navbar-brand {
    background: url("candle_logo.png") no-repeat left center;
    background-size: contain;
    height: 80px;
    width: 100%;
    background-color:#ffffff;
  }
}



.container.content {
  vertical-align: top;
  background-color:#f8b220;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  max-width: 100%;
  header.jumbotron {
    border-radius:0 0 0 0;
    height: auto;
    width: 100%;
    background: url("top.png");
    background-position: center center;
    background-size: cover;
    color: #fff;
    p {
      font-size: 20px;
    }
  }
  header .container {
    margin-top: 13%;
  }
}


.btn-ghost {
  background: transparent;
}
.btn-ghost.btn-default {
  color: #777;
}

.btn-ghost.btn-primary {
  color: #337ab7;
}

.btn-ghost.btn-success {
  color: #5cb85c;
}

.btn-ghost.btn-info {
  color: #5bc0de;
}

.btn-ghost.btn-warning {
  color: #f0ad4e;
}

.btn-ghost.btn-danger {
  color: #d9534f;
}
.btn-ghost.btn-primary:hover,
.btn-ghost.btn-success:hover,
.btn-ghost.btn-info:hover,
.btn-ghost.btn-warning:hover,
.btn-ghost.btn-danger:hover {
  color: #fff;
}

.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-ghost.btn-white:hover {
  color: #333;
  background: #fff;
}
